
nav ul{
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav ul li, #searchbar, #subscription, #login{
    margin: 5px 0px;
}
.options ul{
    height: 130px;
}
#searchbar{
    width : 250px;
}
.search img{
    display:none;
}
.item{
    width: 22em;
}
.main{
    padding: 34px 4px;
    width: 90%;
}
.songName, .timestamp{
    font-size: 0.8rem;
}
#myProgressBar{
    width:250px;
}
.bottom{
    height:fit-content;
}
.icons img{
    height:20px;
}
