
#myProgressBar{
    width:auto;
}
.item{
    width:17em;
}
.songName, .timestamp{
    font-size: 0.7rem;
}
#masterSongName, #time, #ftime{
    font-size: 0.7rem;
}
.songInfo img{
    width: 70px;
    height: 20px;
}
